<div class="music-search">
    <div class="music-search-inputs">
        <div class="music-search-top">
            <RadzenText class="music-label" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Podaj artystę lub nazwę utworu</RadzenText>
            <RadzenTextBox Class="w-100" />
        </div>
        <div class="music-search-bottom">
            <div class="music-search-01">
                <RadzenText class="music-label" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Gatunek</RadzenText>
                <RadzenTextBox Class="w-100" />
            </div>
            <div class="music-search-02">
                <RadzenText class="music-label" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Długość min</RadzenText>
                <RadzenTextBox Class="w-100" />
            </div>
            <div class="music-search-03">
                <RadzenText class="music-label" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Długość max</RadzenText>
                <RadzenTextBox Class="w-100" />
            </div>
        </div>
    </div>
    <div class="music-search-button">
        <RadzenButton 
            Shade="Shade.Light"  
            Text="Szukaj" 
            ButtonStyle="ButtonStyle.Primary" 
            class="music-button"/>
    </div>

</div>

@code {

}


@*Click=@(args => OnClick("Primary button"))*@