<div class="music-footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-left">
                <div class="footer-title">San Music Application</div>
                <div class="footer-subtitle">
                    Aplikacja katalogu muzycznego zrealizowana przez grupę 4 na przedmiocie Technologie internetowe 
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-text">
                    Stack technologiczny: ASP.NET Core Blazor Server<br/>
                    Baza danych: json
                </div>
            </div>
        </div>
    </div>
</div>
