<div class="catalog-container">
    <div class="catalog-title">@Title</div>
    <div class="catalog">
        <SongTile />
        <SongTile />
        <SongTile />
        <SongTile />
        <SongTile />
        <SongTile />
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; }
}
