<div class="catalog-container">
    <div class="catalog-title">@Title</div>
    <div class="catalog">
        @if (Songs.Any())
        {
            @foreach (var song in Songs)
            {
                <SongTile Song="@song" />
            }
        }
        else
        {
            <p>Brak wyników wyszukiwania</p>
        } 
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<ShortSong> Songs { get; set; } = new List<ShortSong>();

}

