@page "/"

@inject IMusicService Service

<div class="page">
    <div class="container">
        <MusicHeader Title="San Music" />
        <MusicSearch/>
        @if (SongsToDisplay != null)
        {
            <MusicCatalog Title="Dzisiaj polecamy" Songs="@SongsToDisplay" />
        }
    </div>
    <MusicFooter />
</div>


@code {

    public List<ShortSong> SongsToDisplay { get; set; }

    protected override void OnInitialized()
    {
        SongsToDisplay = Service.GetRandomSongs().ToList();
    }

}
